.main-container {
  height: 90vh;
  width: 100%;
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittle {
  font-size: 25px !important;
}
.newDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 45px;
}
